/*----------------------------------
Global Stlyes
------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

/* border box fix */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: 'Amatic SC', cursive;
	/*one Em roughly ten pixels (16 x 62.5% = 10)*/
	font-size: 62.5%;
	letter-spacing: 1.5px;
	margin: 0;
}

/*----------------------------------
Header
------------------------------------*/

.intro-header {
	display: flex;
	justify-content: center;
	text-align: center;
	color: #470244;
	padding-top: 11%;
}

.intro-message > h1 {
	font-size: 4em;
	font-weight: 400;
}

.intro-message > h3 {
	font-size: 1.6em;
	margin-top: 15px;
	font-weight: 700;
	animation: write 3s steps(25);
	-webkit-animation: write 3s steps(25);
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 2em;
}

/*----------------------------------
Intro Message Animation
------------------------------------*/

@keyframes write {
	0% {
		width: 0ch;
	}
	100% {
		width: 25ch;
	}
}

/*----------------------------------
Intro Message Animation
------------------------------------*/

.gallery-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.figure-container {
	display: flex;
	flex-wrap: wrap;
	padding: 2px;
	justify-content: space-around;
}

.thumbnail-img {
	width: 18em;
}

/*-----------------------------------------------------------------------
Media Queries
------------------------------------*/

/*----------------------------------
Tablets
------------------------------------*/

@media screen and (min-width: 600px) {

	.intro-message > h1 {
		font-size: 4.5em;
	}

	.intro-message > h3 {
		font-size: 2em;
	}
}

/*----------------------------------
Desktops
------------------------------------*/
@media screen and (min-width: 950px) {

	.intro-message > h1 {
		font-size: 8.5em;
	}
	
	.intro-message > h3 {
		font-size: 4em;
		font-weight: 400;
	}

	.thumbnail-img {
		width: 25em;
	}
}